<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Terms & Conditions - Gesture Player</title>
    <link rel="stylesheet" href="../static/css/help.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    {% include '_head.html' %}
  </head>
  <body>
    <!-- Back Button -->
    <button class="back-btn" title="Go Back" onclick="history.back()">
        <i class="fa-solid fa-arrow-left"></i>
    </button>

    <main class="help-container">
      <div class="help-hero">
        <h1>Terms & Conditions</h1>
      </div>

      <div class="help-card">
        <p class="help-content">These Terms and Conditions outline the rules and regulations for the use of the Gesture Controlled Media Player. By using this application, you accept and agree to be bound by these terms. Please review the full terms below.</p>
      </div>

      <div class="help-card">
        <h3>Applicability</h3>
        <p class="help-content">By using the service you agree not to misuse the application, attempt to reverse engineer the underlying models, or infringe on others' rights. Please respect applicable laws when you use the app.</p>
      </div>

    </main>

    {% include '_footer.html' %}
  </body>
</html>
